@model IEnumerable<ClientViewStats.Models.RegistrationModel>

@{
    ViewData["Title"] = "Registration Date Stats";
    Layout = "_Layout";
}

<h1>Registration Date Stats</h1>

<table class="table" >
    <thead>
        <tr style ="background-color:darkgrey;">
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users)
            </td>
            
        </tr>
}
    </tbody>
</table>
