@model IEnumerable<ClientViewStats.Models.LocationsModel>

@{
    ViewData["Title"] = "Locations";
    Layout = "_Layout";
}

<h1>Locations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users)
            </td>
            
        </tr>
}
    </tbody>
</table>
